# ignore these folders
node_modules/
android/app/build/
android/.gradle/6.3/executionHistory

.expo/
android/


.eslintrc.js
.prettierrc.js
index.js
metro.config.js
temp.js
.buckconfig
.flowconfig
.watchmanconfig
app.json
babel.config.js
yarn.lock
